<html>
	<% include header %>
<div class="jumbotron" >
  <h1 class="display-3">Create Wallet!</h1>
  <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <hr class="my-4">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

  <form method="POST" action="create_wallet"> 
	<input type="text" name="source" />
	<input type="submit" class="btn btn-primary" />
	</form>

</div>

</body>
</html>